<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="student: ${students}">
    <h2 th:text = "${student.firstname}" </h2>
    <h3    th:text = "${student.lastname}" </h3>
    <ul>
        <th:block th:each="course : ${student.courseSet}">
            <li th:inline="text"><b>[[${course.title}</b> is best described as [[${course.description}]].</li>
        </th:block>
    </ul>
</div>
</body>
</html>